AUTH_SERVICE_ADDR=0.0.0.0:50051
DB_PATH=/data/auth-db
SURREAL_NAMESPACE=university_auth
SURREAL_DATABASE=auth
JWT_SECRET=super-secret-dev-key
OTEL_EXPORTER_OTLP_ENDPOINT=http://127.0.0.1:4317
OTEL_SERVICE_NAME=auth-service
RUST_LOG=info
