ROUTER_ADDR=0.0.0.0:8080
AUTH_GRPC_ENDPOINT=http://127.0.0.1:50051
NOTIFICATION_GRPC_ENDPOINT=http://127.0.0.1:50052
SUBJECT_GRPC_ENDPOINT=http://127.0.0.1:50053
PROJECT_GRPC_ENDPOINT=http://127.0.0.1:50054
OTEL_EXPORTER_OTLP_ENDPOINT=http://127.0.0.1:4317
OTEL_SERVICE_NAME=router
RUST_LOG=info
